<div class="card" style="width: 70%; margin: 0 auto; text-align: center;">
    <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 15px">Êtes-vous un homme ou une femme ?</h5>
        <select class="form-select" size="5" aria-label=".form-select-sm example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Envoyer" style="margin-top: 10px; min-width: 200px;">
    </div>
</div>